{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Voici vos posts</h2>
    </div>
    <div>
        {% for post in feed %}
            <div>
                {% if post.content_type == 'TICKET' %}
                    <p>{{ post.id }}</p>
                    <p>{{ post.title }}</p>
                    <p>{{ post.description }}</p>
                    <p>{{ post.user }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}">
                    {% endif %}
                    <p>{{ post.time_created }}</p>
                    <p><a href="{% url 'ticket_edit' post.id %}">Modifier</a></p>
                    <p><a href="{% url 'review_with_ticket_create' post.id %}">Créer une critique</a></p>
                    <p>##########</p>
                {% elif post.content_type == 'REVIEW' %}
                    <p>{{ post.id }}</p>
                    <p>{{ post.headline }}</p>
                    <p>{{ post.body }}</p>
                    <p>{{ post.rating }}</p>
                    <p>Ticket  : {{ post.ticket.id }}</p>
                    <p>{{ post.user }}</p>
                    <p>{{ post.time_created }}</p>
                    <p><a href="{% url 'review_edit' post.id %}">Modifier</a></p>
                    <p>##########</p>
                {% endif%}
            </div>
        {% endfor%}1
    </div>

{% endblock content %}