{% load static %}

<html>

<head>
    <title>LITReview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{% static 'images/banner_login.jpg' %}"  class="img-fluid" alt="bannière représentant un livre ouvert et le logo">
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container mt-5">
            <div class="row align-items-center justify-content-evenly">
                <div class="col-12 col-md-4 align-content-center">
                    <p class="fw-bold">Vous n'avez pas de compte?</p>
                    <p>Inscrivez-vous maintenant</p>
                    <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">S'inscrire</button></a>
                </div>
                <div class="col-12 col-md-4 mt-5">
                    <p>{{ message }}</p>
                    <h2>Connectez-vous</h2>
                    <form method="post">
                        <div class="form-group">
                            <p><label for="{{ form.username.id_for_label}}" class="form-label">Nom d'utilisateur :</label></p>
                            {{ form.username}} 
                        </div>
                        <div class="form-group mt-3">
                            <p><label for="{{ form.password.id_for_label}}" class="form-label">Mot de passe :</label></p>
                            <p class="col-10">
                                <div class="w-100">
                                    {{ form.password}}
                                </div>        
                            </p>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
