{% load static %}

<html>

<head>
    <title>LITReview</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{% static 'images/banner_login.jpg' %}"  class="img-fluid" alt="bannière représentant un livre ouvert et le logo">
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container mt-5" style="max-width: 1140px;">
            <div class="row align-items-center justify-content-evenly">
                <div class="col-12 col-md-4 align-content-center">
                    <p class="fw-bold">Vous n'avez pas de compte?</p>
                    <p>Inscrivez-vous maintenant</p>
                    <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary">S'inscrire</button></a>
                </div>
                <div class="col-12 col-md-4 mt-5">
                    <p>{{ message }}</p>
                    <h2>Connectez-vous</h2>
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
